<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Optional welcome file -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>AdminDashboardJsp</servlet-name>
        <jsp-file>/admin/admin-dashboard.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminDashboardJsp</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageInventoryJsp</servlet-name>
        <jsp-file>/admin/manage-inventory.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ManageInventoryJsp</servlet-name>
        <url-pattern>/admin/manage-inventory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookJsp</servlet-name>
        <jsp-file>/admin/add-book.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddBookJsp</servlet-name>
        <url-pattern>/admin/add-book</url-pattern>
    </servlet-mapping>

</web-app>
